<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<nav class="navbar navbar-expand-lg bg-secondary text-white" th:fragment="header">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/home}">食材したごしらえドットコム</a>
			<div class="d-flex">
				<form th:action="@{/login}" class="px-2">
					<input type="submit" class="btn btn-light" value="ログイン" />
				</form>
				<form th:action="@{/signup}" class="px-2">
					<input type="submit" class="btn btn-light" value="会員登録" />
				</form>
				<form th:action="@{/posting}" class="px-2">
					<input type="submit" class="btn btn-light" value="レシピを投稿" />
				</form>
				<form th:action="@{/logout}" method="post" class="px-2">
					<!--					<span class="text-light" th:text="|ログインID：${#authentication.principal.username}|"></span>-->
					<input type="submit" class="btn btn-light" value="ログアウト" />
				</form>
			</div>

		</div>
	</nav>
</body>

</html>