<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>食材の下処理</title>
</head>

<body>
	<div th:insert="~{common/sourceList :: sourceList}"></div>
	<div th:replace="~{common/header :: header}"></div>
	<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-black"
		style="background-image: url(img/d7d7ccea4247296e7f786f159929dc0d_m.jpg);">
		<h1 class="mb-3 h2">したごしらえ.com</h1>

		<p>
			したごしらえ一つで食材の活用方法が大きく広がります。下処理や切り方に茹で方まで様々な調理法を行うことで
			食材のおいしさを最大限に引き出しましょう！！
		</p>
	</div>
	<p>
		<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1"
			aria-expanded="false" aria-controls="multiCollapseExample1">野菜</button>
		<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2"
			aria-expanded="false" aria-controls="multiCollapseExample2">肉類</button>
		<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3"
			aria-expanded="false" aria-controls="multiCollapseExample3">魚介類
		</button>
	</p>
	<div class="container">
		<div class="row">
			<div class="col" th:each="item : ${itemCategories}">
				<div>
					<div class="collapse multi-collapse" id="multiCollapseExample1">
						<div th:if="${item.itemCategoryKind.code}=='1'">
							<div class="card text-bg-light mb-3" style="width: 12rem; height: 10rem;">
								<a th:href="@{/precook/__${item.itemName}__}">
									<div class="card-header" th:text="${item.itemName}"></div>
									<img th:src="@{/img/{imageUrl}  (imageUrl = ${item.imageUrl} != null ? ${item.imageUrl} : ${imgNotExist} )}"
										class="thumbnail img-fluid">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="collapse multi-collapse" id="multiCollapseExample2">
						<div th:if="${item.itemCategoryKind.code}=='2'">
							<div class="card text-bg-light mb-3" style="width: 12rem;">
								<a th:href="@{/precook/__${item.itemName}__}">
									<div class="card-header" th:text="${item.itemName}"></div>
									<img th:src="@{/img/{imageUrl}  (imageUrl = *{item.imageUrl})}"
										class="thumbnail img-fluid">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="collapse multi-collapse" id="multiCollapseExample3">
						<div th:if="${item.itemCategoryKind.code}=='3'">
							<div class="card text-bg-light mb-3" style="width: 12rem;">
								<a th:href="@{/precook/__${item.itemName}__}">
									<div class="card-header" th:text="${item.itemName}"></div>
									<img th:src="@{/img/{imageUrl}  (imageUrl = *{item.imageUrl})}"
										class="thumbnail img-fluid">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>

</html>