<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>食材の下処理</title>
</head>

<body>
	<div th:insert="~{common/sourceList :: sourceList}"></div>
	<div th:replace="~{common/header :: header}"></div>
	<h2>HOME</h2>
	<div sec:authorize="hasAuthority('3')">
		<div class="py-5">
			<a th:href="@{/menu}" class="btn btn-danger">管理画面へ</a>
		</div>
	</div>
	<div th:each="vegetable : ${vegetables}">
		<div class="card text-bg-light mb-3" style="max-width: 12rem;">
			<a th:href="@{/precook/__${vegetable.itemName}__}">
				<div class="card-header" th:text="${vegetable.itemName}"></div>
				<div class="card-body">
					<p class="card-text" th:text="|${vegetable.itemName} のしたごしらえ|"></p>
				</div>
			</a>
		</div>
	</div>
	<div th:each="meat : ${meats}">
		<div class="card text-bg-light mb-3" style="max-width: 12rem;">
			<a th:href="@{/precook/__${meat.itemName}__}">
				<div class="card-header" th:text="${meat.itemName}"></div>
				<div class="card-body">
					<p class="card-text" th:text="|${meat.itemName} のしたごしらえ|"></p>
				</div>
			</a>
		</div>
	</div>
	<div th:each="fish : ${fishes}">
		<div class="card text-bg-light mb-3" style="max-width: 12rem;">
			<a th:href="@{/precook/__${fish.itemName}__}">
				<div class="card-header" th:text="${fish.itemName}"></div>
				<div class="card-body">
					<p class="card-text" th:text="|${fish.itemName} のしたごしらえ|"></p>
				</div>
			</a>
		</div>
	</div>

</body>

</html>