<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>投稿ページ</title>
</head>

<body>
	<div th:insert="~{common/sourceList :: sourceList}"></div>
	<div th:replace="~{common/header :: header}"></div>
	<script type="text/javascript" th:src="@{/js/posting.js}"></script>
	<h2>投稿ページ</h2>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<form class="form-horizontal" th:action="@{/posting}" method="post" enctype="multipart/form-data"
					th:object="${postingForm}">
					<div class="form-group">
						<label class="col-sm-2 control-label">件名</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" 　 th:field="*{postingTitle}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">レシピ概要</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" 　 th:field="*{postingText}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">完成イメージ</label>
						<div class="col-sm-10 checkbox">
							<input type="file" class="form-control" accept='image/*' onchange="previewImage(this)"
								th:field="*{imageUrl}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">使用食材</label>
						<div class="col-sm-10 d-flex px-2">
							<div id="input_pluralBox">
								<div id="input_plural" class="d-flex px-2">
									<label class="col-sm-2 control-label">材料</label>
									<input th:field="*{materialName}" type="text" class="form-control"
										placeholder="例）：砂糖">
									<input type="button" value="＋" class="add pluralBtn">
									<input type="button" value="－" class="del pluralBtn">
								</div>
							</div>
							<div id="input_pluralBox">
								<div id="input_plural" class="d-flex px-2">
									<label class="col-sm-2 control-label">分量</label>
									<input th:field="*{materialQuantity}" type="text" class="form-control"
										placeholder="例）：小さじ１">
									<input type="button" value="＋" class="add pluralBtn">
									<input type="button" value="－" class="del pluralBtn">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">調理手順</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{detailOrder}" 　class="form-control"></input>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">調理過程イメージ</label>
						<div class="col-sm-10 checkbox">
							<input type="file" class="form-control" accept='image/*' onchange="previewImage(this)"
								th:field="*{detailImageUrl}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">調理詳細</label>
						<div class="col-sm-10">
							<textarea type="text" th:field="*{postingDetailText}" 　class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button class="btn btn-primary mt-3">送信</button>
						</div>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				</form>
			</div>
		</div>
	</div>
	<!--	<div>-->
	<!--		<h2 class="mb-4 text-center">投稿記事一覧</h2>-->
	<!--		<div class="images" th:each="posting : ${postingList}">-->
	<!--			<div class="dish_image text-center mb-4">-->
	<!--				<div class="img">-->
	<!--					<a th:href="@{/postingEdit/__${posting.id}__}">-->
	<!--						<img th:src="@{/img/{imageUrl}  (imageUrl = *{posting.imageUrl})}"-->
	<!--							style="width: 150px; height: 150px;">-->
	<!--					</a>-->
	<!--				</div>-->
	<!--				<span th:text="${#temporals.format(posting.createTime, 'yyyy/MM/dd')}"></span>-->
	<!--				<br>-->
	<!--				<span th:text="${posting.postingTitle}"></span><br>-->
	<!--			</div>-->
	<!--		</div>-->
	<!--	</div>-->
	<div class="container" id="works">
		<h2>投稿一覧</h2>
		<div class="card-deck">
			<div class="card"  th:each="posting : ${postingList}">
				<div class="card-header">
					<h5 class="card-title" th:text="${posting.postingTitle}"></h5>
				</div>
				<a th:href="@{/postingEdit/__${posting.id}__}">
					<img th:src="@{/img/{imageUrl}  (imageUrl = *{posting.imageUrl})}" class="card-img-top" alt="..." style="max-width: 12em;">
					<div class="card-body">

						<p class="card-text" th:text="${posting.postingText}"></p>
						<p class="card-text"><small class="text-muted"
								th:text="|投稿日：${#temporals.format(posting.createTime, 'yyyy/MM/dd')}|"></small></p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<a th:href="@{/}">▶ホームへ戻る</a>
	<script>
		function previewImage(obj) {
			var fileReader = new FileReader();
			fileReader.onload = (function () {
				document.getElementById('preview').src = fileReader.result;
			});
			fileReader.readAsDataURL(obj.files[0]);
		}
	</script>
</body>

</html>