<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div th:insert="~{common/sourceList :: sourceList}"></div>
	<div th:replace="~{common/header :: header}"></div>
	<script type="text/javascript" th:src="@{/js/posting.js}"></script>
	<h2>投稿ページ</h2>


	<form th:action="@{/posting}" method="post" enctype="multipart/form-data" th:object="${postingForm}">
		<div class="mb-5 d-flex">
			<div>
				<select id="bigword">
					<option>選択してください</option>
					<option>野菜</option>
					<option>肉類</option>
					<option>魚介類</option>
					<option>その他</option>
				</select>
				<br>
			</div>
			<div id="smword">
				<!-- 北海道 -->
				<select>
					<option>選択してください</option>
					<option th:each="item : ${itemCategoryInfos}" th:if="${item.itemGenre}==1"
						th:text="${item.itemName}"></option>
				</select>
				<br>
				<select>
					<option>選択してください</option>
					<option th:each="item : ${itemCategoryInfos}" th:if="${item.itemGenre}==2"
						th:text="${item.itemName}"></option>
				</select>
				<br>
				<select>
					<option>選択してください</option>
					<option th:each="item : ${itemCategoryInfos}" th:if="${item.itemGenre}==3"
						th:text="${item.itemName}"></option>
				</select>
				<br>
			</div>
		</div>
		<div class="mt-3">
			<label>タイトル</label>
			<div>
				<input type="text" th:field="*{postingTitle}">
			</div>
		</div>
		<input type="file" class="form-control" accept='image/*' onchange="previewImage(this)" th:field="*{imageUrl}">
		<img id="preview" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
			style="max-width:200px;">
		<script>
			function previewImage(obj) {
				var fileReader = new FileReader();
				fileReader.onload = (function () {
					document.getElementById('preview').src = fileReader.result;
				});
				fileReader.readAsDataURL(obj.files[0]);
			}
		</script>

		<div>
			<label>投稿内容</label>
			<div>
				<textarea th:field="*{postingText}" rows="10" cols="50"></textarea>
			</div>
		</div>
		<span>
			<img src="">
		</span>
		<div>
			<input type="submit" value="投稿">
		</div>
	</form>
	<th:block th:each="posting : ${postingList}" th:object="${posting}">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card"  style="max-width: 10rem;">
					<img th:src="@{/img/{imageUrl}  (imageUrl = *{imageUrl})}" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title" th:text="*{postingTitle}"></h5>
						<p class="card-text" th:text="*{#temporals.format(updateTime, 'yyyy/MM/dd')}"></p>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<ul>
		<li><a href="#">詳細</a></li>
		<li><a href="#">編集</a></li>
		<li><a href="#">削除</a></li>
	</ul>
	<a th:href="@{/}">▶ホームへ戻る</a>
</body>

</html>