<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>投稿ページ</title>
</head>

<body>
	<div th:insert="~{common/sourceList :: sourceList}"></div>
	<div th:replace="~{common/header :: header}"></div>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">件名</label>
					<div class="col-sm-10">
						<h2 th:text="${postingInfoOpt.postingTitle}"></h2>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">レシピ概要</label>
					<div class="col-sm-10">
						<h5 th:text="${postingInfoOpt.postingText}"></h5>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">完成イメージ</label>
					<div class="col-sm-10 checkbox">
						<img img th:src="@{/img/{imageUrl}  (imageUrl = ${postingInfoOpt.imageUrl})}">
					</div>
				</div>
				<div class="form-group">
					<table>
						<thead>
							<tr>
								<th>材料</th>
								<th>分量</th>
							</tr>
						</thead>
						<tbody>
							<tr id="testNo_input">
								<td>
									<div class="row g-3 align-items-center" th:each="material : ${postingMaterilOpt}">
										<div class="col-auto">
											<span th:text="${material.materialName}"></span>
										</div>
									</div>
								</td>
								<td>
									<div class="row g-3 align-items-center" th:each="material : ${postingMaterilOpt}">
										<div class="col-auto">
											<span th:text="${material.materialQuantity}"></span>
										</div>
									</div>
								</td>
							</tr>
					</table>
				</div>
				<div th:each="detail : ${postingDetailOpt}">
					<div class="form-group">
						<label class="col-sm-2 control-label">調理手順</label>
						<div class="col-sm-10">
							<spn th:text="${detail.detailOrder}"></spn>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">調理過程イメージ</label>
						<div class="col-sm-10 checkbox">
							<img img th:src="@{/img/{imageUrl}  (imageUrl = ${detail.imageUrl})}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">調理詳細</label>
						<div class="col-sm-10">
							<spn th:text="${detail.postingDetailText}"></spn>
						</div>
					</div>
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			</div>
		</div>
		<div class="mt-3">
			<a th:href="@{/}">▶トップメニューへ戻る</a>
		</div>
	</div>

</body>

</html>