<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>投稿ページ</title>
</head>

<body>
	<div th:insert="~{common/sourceList :: sourceList}"></div>
	<div th:replace="~{common/header :: header}"></div>
	<script type="text/javascript" th:src="@{/js/posting.js}"></script>
	<h2>投稿ページ</h2>
	<div class="container">
		<form class="card" th:action="@{/posting}" method="post" enctype="multipart/form-data"
			th:object="${postingForm}">
			<div class="card-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">件名</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" th:field="*{postingTitle}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">レシピ概要</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" th:field="*{postingText}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">完成イメージ</label>
						<div class="col-sm-10 checkbox">
							<input type="file" class="form-control" accept='image/*' onchange="previewImage(this)"
								th:field="*{imageUrl}" multiple>
						</div>
					</div>
					<div class="form-group">
						<table>
							<thead>
								<tr>
									<th>材料</th>
									<th>分量</th>
								</tr>
							</thead>
							<tbody>
								<tr id="testNo_input">
									<td>
										<div>
											<input class="materialName form-control" type="text"
												th:field="*{materialList[0].materialName}" />
										</div>
										<div id="materialName"></div>
									</td>
									<td>
										<div>
											<input class="materialQuantity form-control" type="text"
												th:field="*{materialList[0].materialQuantity}" />
										</div>
										<div id="materialQuantity"></div>
									</td>
									<td><button class="btn btn-primary rounded-pill" id="addInput" type="button"
											tabIndex="-1">＋</button></td>
								</tr>
						</table>
					</div>
					<div class="form-group">
						<table>
							<thead>
								<tr>
									<th>調理工程イメージ</th>
									<th>調理詳細</th>
								</tr>
							</thead>
							<tbody>
								<tr id="testNo_input">
									<td>
										<div>
											<input type="file" class="detailImageUrl form-control" accept='image/*'
												onchange="previewImage(this)"
												th:field="*{detailLists[0].detailImageUrl}" multiple>
										</div>
										<div id="detailImageUrl"></div>
									</td>
									<td>
										<div>
											<textarea type="text" th:field="*{detailLists[0].postingDetailText}"
												class="postingDetailText form-control" rows="10" cols="50"></textarea>
										</div>
										<div id="postingDetailText"></div>
									</td>
									<td><button class="btn btn-primary rounded-pill" id="addDetail" type="button"
											tabIndex="-1">＋</button></td>
								</tr>
						</table>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button class="btn btn-primary mt-3">送信</button>
						</div>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				</div>
			</div>
		</form>
	</div>

	<div class="container" id="works">
		<h2>投稿一覧</h2>
		<th:block th:each="posting : ${postingList}">
			<div class="card-deck">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title" th:text="${posting.postingTitle}"></h5>
					</div>
					<div class="card-body">
						<a th:href="@{/postingEdit/__${posting.id}__}">
							<img th:src="@{/img/{imageUrl}  (imageUrl = ${posting.imageUrl} != null ? ${posting.imageUrl} : ${imgNotExist})}"
								class="card-img-top" alt="..." style="max-width: 12em;">
							<p class="card-text" th:text="${posting.postingText}"></p>
							<p class="card-text"><small class="text-muted"
									th:text="|投稿日：${#temporals.format(posting.createTime, 'yyyy/MM/dd')}|"></small>
							</p>
						</a>
						<td>
							<form method="POST" th:action="@{/posting/__${posting.id}__}">
								<input type="hidden" th:value="${posting.id}" name="id">
								<button type="button" class="btn btn-danger" data-bs-toggle="modal"
									th:data-bs-target="'#id'+${posting.id}">削除</button>
								<!-- Modal -->
								<div class="modal fade" th:id="'id' + ${posting.id}" tabindex="-1" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-body">
												削除してもよろしいですか？
											</div>
											<div class="modal-footer">
												<button type="submit" class="btn btn-danger">削除</button>
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">閉じる</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</td>
					</div>
				</div>
			</div>
		</th:block>

	</div>
	<a th:href="@{/}">▶ホームへ戻る</a>
	<script>
		function previewImage(obj) {
			var fileReader = new FileReader();
			fileReader.onload = (function () {
				document.getElementById('preview').src = fileReader.result;
			});
			fileReader.readAsDataURL(obj.files[0]);
		}
	</script>
	<script type="text/javascript">
		function addmaterialName() {
			var inputCount = document.getElementsByClassName("materialName form-control").length;
			var input = document.createElement("input");
			input.setAttribute("type", "text");
			input.setAttribute("id", "materialList" + inputCount + ".materialName");
			input.setAttribute("class", "materialName form-control");
			input.setAttribute("name", "materialList[" + inputCount + "].materialName")
			input.setAttribute("value", "");
			var ele = document.createElement("div");
			ele.appendChild(input);
			document.getElementById("materialName").appendChild(ele);
		};
		function addMaterilQuantity() {
			var inputCount = document.getElementsByClassName("materialQuantity form-control").length;
			var input = document.createElement("input");
			input.setAttribute("type", "text");
			input.setAttribute("id", "materialList" + inputCount + ".materialQuantity");
			input.setAttribute("class", "materialQuantity form-control");
			input.setAttribute("name", "materialList[" + inputCount + "].materialQuantity")
			input.setAttribute("value", "");
			var ele = document.createElement("div");
			ele.appendChild(input);
			document.getElementById("materialQuantity").appendChild(ele);
		};
		function addDetailImageUrl() {
			var inputCount = document.getElementsByClassName("detailImageUrl form-control").length;
			var input = document.createElement("input");
			input.setAttribute("type", "file");
			input.setAttribute("multiple");
			input.setAttribute("accept", "image/*");
			input.setAttribute("onchange", "previewImage(this)");
			input.setAttribute("id", "detailLists" + inputCount + ".detailImageUrl");
			input.setAttribute("class", "detailImageUrl form-control");
			input.setAttribute("name", "detailLists[" + inputCount + "].detailImageUrl")
			input.setAttribute("value", "");
			var el = document.createElement("td");
			var ele = document.createElement("div");
			ele.appendChild(input);
			document.getElementById("detailImageUrl").appendChild(ele).appendChild(el);
		};
		function addPostingDetailText() {
			var inputCount = document.getElementsByClassName("postingDetailText form-control").length;
			var textarea = document.createElement("textarea");
			textarea.setAttribute("type", "text");
			textarea.setAttribute("rows", "10");
			textarea.setAttribute("cols", "50");
			textarea.setAttribute("id", "detailLists" + inputCount + ".postingDetailText");
			textarea.setAttribute("class", "detailImageUrl form-control");
			textarea.setAttribute("name", "detailLists[" + inputCount + "].postingDetailText")
			textarea.setAttribute("value", "");
			var el = document.createElement("td");
			var ele = document.createElement("div");
			ele.appendChild(textarea);
			document.getElementById("postingDetailText").appendChild(ele).appendChild(el);
		};


		document.getElementById("addInput").addEventListener("click", function (e) {
			addmaterialName();
		}, false);
		document.getElementById("addInput").addEventListener("click", function (e) {
			addMaterilQuantity();
		}, false);
		document.getElementById("addDetail").addEventListener("click", function (e) {
			addDetailImageUrl();
		}, false);
		document.getElementById("addDetail").addEventListener("click", function (e) {
			addPostingDetailText();
		}, false);

	</script>
</body>

</html>