<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>食材のしたごしらえの詳細</title>
</head>

<body>
	<div th:insert="~{common/sourceList :: sourceList}"></div>
	<div th:replace="~{common/header :: header}"></div>
	<div th:object="${itemCategoryOpt}">
		<div>
			<h1 th:text="${itemName} + 'のしたごしらえ'"></h1>
		</div>
	</div>
	<div class="container ">
		<div class="container-m" th:each="item : ${itemDetailList}" th:object="${item}">
			<div class="row">
				<div class="col-md-4  img-hidden">
					<img th:src="@{/img/{imageUrl}  (imageUrl = *{imageUrl} != null ? *{imageUrl} : *{imgNotExist})}" style="max-width: 20rem;">
				</div>
				<div class="col-md-8">
					<h2 th:text="*{itineraryTitle}"></h2>
					<p th:text="*{itemDetailText}"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="works">
		<h2>投稿一覧</h2>
		<th:block th:if="${postingInfos} != null">
			<div class="card-deck" th:each="info : ${postingInfos}">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title" th:text="${info.postingTitle}"></h5>
					</div>
					<div class="card-body">
						<a th:href="@{/postingEdit/__${info.id}__}">
							<img th:src="@{/img/{imageUrl}  (imageUrl = *{info.imageUrl} != null ? *{info.imageUrl} : *{imgNotExist})}" class="card-img-top"
								alt="..." style="max-width: 12em;">
							<p class="card-text" th:text="${info.postingText}"></p>
							<p class="card-text"><small class="text-muted"
									th:text="|投稿日：${#temporals.format(info.createTime, 'yyyy/MM/dd')}|"></small></p>
						</a>
					</div>
				</div>
			</div>
		</th:block>
		<th:block th:if="${postingInfos} == null">
			<h5>※投稿はありません</h5>
		</th:block>
	</div>

	<div th:object="${itemCategoryOpt}">
		<a th:href="@{https://cookpad.com/search/{itemName}(itemName=${itemName})}"
			th:text="${itemName} + 'のレシピを検索'"></a>
	</div>
	<a th:href="@{/}">▶ホームへ戻る</a>
	</div>

</body>

</html>