<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>食材のしたごしらえの詳細</title>
</head>

<body>
	<div th:insert="~{common/sourceList :: sourceList}"></div>
	<div th:replace="~{common/header :: header}"></div>
	<div th:object="${itemCategoryOpt}">
		<div>
			<h1 th:text="${itemName} + 'のしたごしらえ'"></h1>
		</div>
	</div>
	<div>
		<div th:each="item : ${itemDetailList}" th:object="${item}">
			<div class="d-flex">
				<div class="row">
					<h5 th:text="*{itineraryTitle}"></h5>
					<div class="col-md-1">
						<img th:src="@{/img/{imageUrl}  (imageUrl = *{imageUrl})}" style="max-width: 5rem;">
					</div>
				</div>
				<p th:text="*{itemDetailText}"></p>
			</div>
		</div>
		<div th:object="${itemCategoryOpt}">
			<a th:href="@{https://cookpad.com/search/{itemName}(itemName=${itemName})}"
				th:text="${itemName} + 'のレシピを検索'"></a>
		</div>
		<a th:href="@{/}">▶ホームへ戻る</a>
	</div>

</body>

</html>